---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import TrophyStrip from '../components/TrophyStrip.astro';
import SignaturePiece from '../components/SignaturePiece.astro';
import Portfolio from '../components/Portfolio.astro';
import About from '../components/About.astro';
import Process from '../components/Process.astro';
import Booking from '../components/Booking.astro';
import Footer from '../components/Footer.astro';
import StickyBook from '../components/StickyBook.astro';
---

<Layout>
  <span id="top"></span>
  <Nav />
  <main id="main">
    <Hero />
    <TrophyStrip />
    <SignaturePiece />
    <Portfolio />
    <About />
    <Process />
    <Booking />
  </main>
  <Footer />
  <StickyBook />
</Layout>
